@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button:active {
        transform: translateY(1px);
    }
    button:disabled {
        @apply opacity-75 pointer-events-none;
    }
}